$sizeText: 12px
$primaryColor: #F44336
$secondColor: #D32F2F
$accentColor1: #FF8A80

$textColor1: #E64A19
$textColor2: #FF5722

//Estilos que se lo puede utilizar en todo lugar
.divider-line
    width: 90%
    border-bottom: 1px solid $accentColor1
    margin-bottom: 1rem
.divider-line--2
    width: 90%
    border-bottom: 1px solid $accentColor1
    margin-top: 2rem
html
    font-size: $sizeText
    box-sizing: border-box
body
    font-family: 'Nunito', sans-serif

//Estilos del navbar
.navbar
    font-size: 1.2rem
    text-transform: uppercase
    & button:focus
        outline: 5px auto #fff
    & span.mdi
        color: #fff
        font-size: 2.5rem
    & .navbar-nav
        text-align: center
    & .nav-item.active
        background-color: $secondColor
        border-radius: 0.5rem
    & .dropdown-menu
        background-color: $accentColor1
        border: 0px
        text-align: center
        & .dropdown-item
            color: #fff
.navbar__image
    width: 40px
    border-radius: 0.5rem
.navbar-light .navbar-toggler
    border-color: #fff
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
    color: #fff
.navbar-light .navbar-nav .nav-link
    color: #fff
    font-weight: bold
    margin: 0px 10px
    &:hover
        background-color: $secondColor
        border-radius: 0.5rem
        color: #fff
.bg-page
    background-color: rgba(211,47,47, 0.4)

//Estilos del slider
.slider
    width: 100%
    overflow: hidden
    position: relative
.slide__text
    background-color: rgba(227,227,227,0.8)
    padding: 1.5rem
    width: 70%
    left: 15%

    position: absolute
    top: calc(50% - 8.3rem)

    z-index: 100
.slide__text--title
    font-size: 4rem
    font-weight: 600
    text-align: center

    margin: 0px
        
.slide__text--subTitle
    font-size: 4.6rem
    font-weight: 700
    text-align: center

    margin: 0px
        

.slider__content,
    display: flex
    //El tamaño es la siguiente formula: nroImagenesSlide * 100%
    width: 300%
.slider__img
    width: 100%
.slider__img--width
    display: block
    width: 100%
    height: 100vh
.slide__btnPrev,
.slide__btnNext
    width: 3.5rem
    height: 3.5rem
    background: $accentColor1
    color: #fff
    position: absolute
    top: calc(50% - 20px)
    line-height: 3.5rem
    font-size: 2rem
    font-weight: bold
    text-align: center
    border-radius: 50%
    cursor: pointer
    z-index: 10
    &:hover
        background: $primaryColor
.slide__btnPrev
    left: 1rem
.slide__btnNext
    right: 1rem
//Estilos para una card
.content-card,
.content-card--rev
    display: flex    
    margin: 1rem auto
    width: 80%
    max-width: 992px
    align-items: center
.content-card
    flex-direction: row
.content-card--rev
    flex-direction: row-reverse
.content-card__container,
.content-card__container--rev
    flex-basis: 500px
.content-card__container    
    padding-left: 0px
    padding-right: 2.5rem
.content-card__container--rev
    padding-left: 2.5rem
    padding-right: 0px
.content-card__title
    font-size: 2.5rem
    font-style: italic
    color: $textColor1
.content-card__title--sub
    font-size: 3rem
    color: $textColor1
    font-weight: bold
.content-card__desc
    color: #777
    font-size: 1.8rem
    text-align: justify
.content-card__btn
    font-weight: 600
    color: #fff
    text-transform: uppercase
    font-size: 1.5rem
        
    background-color: $textColor2
    padding: 10px   
    margin-bottom: 2rem
    margin-top: 2rem
        
    border-radius: 5px
    float: right

    cursor: pointer
    &:hover
        background-color: $textColor1

        text-decoration: none
        color: #fff
.content-card__img
    width: 350px
    height: 600px
    flex-grow: 1
//Estilos para presentacion
.presentation
    position: relative
.presentation__img
    max-width: 100%
    height: 100vh
.presentation__title
    position: absolute
    top: calc(50% - 8.5rem)
    left: 10%
    width: 80%
    & p
        color: #fff
        font-size: 4rem
    & p:nth-of-type(2)
        font-size: 6rem
//Estilos para el formulario
.formulario
    margin: 2rem 0px
    width: 80%
    & .form-control
        padding: .375rem 2.5rem
.formulario__title
    font-size: 1.3rem
    text-align: center
    font-weight: 700
    color: $textColor1
.formulario__email
    position: relative
    width: 30%
    & .form-control
        border: 1px solid $primaryColor
        &:focus
            border-color: $secondColor
            box-shadow: 0 0 0 0.2rem rgba(211,47,47,.25)
.formulario__icon
    position: absolute
    top: calc(50% - 0.8rem)
    left: 1rem

    font-size: 1.2rem
    color: #aaa
.formulario__btn        
    font-weight: 500
    font-size: 1.2rem
    color: #fff
    text-align: center
        
    display: block
    width: 150px
    margin: 0.5rem auto
    padding: 0.5rem
    border-radius: 0.5rem
    background-color: $primaryColor
    cursor: pointer
    &:hover
        background-color: $secondColor
        text-decoration: none
        color: #fff
.formulario__rrss
    display: flex
.rrss__follow,
.rrss__contact
    flex-basis: 0
    flex-grow: 1

    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: center
    & p
        font-size: 1.2rem
        font-weight: 600
        color: $textColor1
        margin-right: 1rem
.rrss__follow--one,
.rrss__follow--two
    display: flex
.rrss__icon
    width: 3rem
    height: 3rem
    display: flex
    margin: 0.5rem
    justify-content: center
    align-items: center
    border-radius: 50%
    background-color: $primaryColor

    font-size: 1.5rem
    color: #fff
    &:hover
        color: #fff
        background-color: $secondColor
.derechos
    font-weight: 600
    text-align: center
    margin: 2rem 0px
    color: $textColor2

@media (max-width:768px)
    .navbar-light .navbar-nav .nav-link:hover
        background-color: transparent
    //Estilos slider
    .slide__text--subTitle
        font-size: 4.2rem
    //Estilos de la card
    .content-card,
    .content-card--rev
        flex-direction: column
        width: 90%
    .content-card__container,
    .content-card__container--rev        
        flex-basis: 0px
    .content-card__container
        padding-right: 0px
    .content-card__container--rev
        padding-left: 0px
    .content-card__img
        width: 80%
    //Estilos del formulario
    .formulario__email
        width: 40%
@media (max-width: 420px)
    //Estilos para el slide
    .slide__btnPrev,
    .slide__btnNext
        top: initial
        bottom: 2rem
    .slide__btnPrev
        left: 2rem
    .slide__btnNext
        right: 2rem
    .slide__text
        background-color: rgba(227,227,227,0.8)
        padding: 1.5rem
        width: 90%
        left: 5%

        position: absolute
        top: calc(50% - 4.7rem)

        z-index: 100
    .slide__text--title
        font-size: 2rem
        font-weight: 600
        margin: 0px
        text-align: center
    .slide__text--subTitle
        font-size: 2.3rem
        font-weight: 700
        margin: 0px
        text-align: center
    //Estilos de la card
    .content-card,
    .content-card--rev
        width: 100%
        flex-direction: column
    .content-card__container,
    .content-card__container--rev
        padding: 0px 20px
    .content-card__img
        width: 100%
        height: 100vh
    //Estilos para presentacion
    .presentation__title
        top: calc(50% - 7rem)
        & p
            font-size: 2rem
        & p:nth-of-type(2)
            font-size: 3rem
    //Estilos para el formulario
    .formulario__email
        position: relative
        width: 100%
    .rrss__follow,
    .rrss__contact
        flex-direction: column
        align-items: center
        & p
            margin-right: 0px
    .formulario__btn 
        margin: 1rem auto

@media (max-width: 320px)
    //Estilos para el slide    
    .slide__text--subTitle
        font-size: 2rem